* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 76, 255, 0.545);
    margin-top: 70px;
}
.container {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: white;

}
.container img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-left: 20px;
    margin-top: 20px;
    
}
.container h3 {
    display: inline;
    margin-left: 20px;
    margin-bottom: 30px;
}
.item {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 20px
}
.item div {
    background-color: beige;
    border-radius: 10px;
}

.burchak img {
    display: flex;
    width: 40px;
    height: 40px;
    border: 2px solid white;
}
.burchak {
    position: fixed;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 200px;
    justify-content: left;
    
}

.center {
    text-align: center;
    color: white;
    margin-top: 200px;
    margin-left: 100px;
}
.center h1 {
   text-transform: uppercase;
   margin-bottom: 50px;
}

.center button {
    margin-top: 50px;
    text-transform: uppercase;
    padding: 10px 20px;

}



